


body {
	font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	width: 900px;
	padding: 0;
	background-image: url(../images/l4d2_bg.jpg);
	background-color: black;
	background-position: top center;
	background-attachment: scroll;
	background-size: 100%;
	background-repeat: no-repeat;
}

header {
	width: 900px;
	margin: -10px 0px 0px 155px;
	list-style-type: none;
	padding: 0;
	overflow: hidden;

}

nav {
	margin-top: -20px
} 

#intro{

	width: 900px;
	margin: -20px 0px 0px 155px;
	padding: 0px;
	background-color: white;
	
}

#introh2{
	font-size: 18px;
	text-decoration: none;
	background: #8c6a03;
	display: block;
	height: 30px;
	text-align: left;  
	color: white;
	padding: 10px 0px 0px 5px;
	width: 895px;
	overflow: hidden;
}

.introp{
	width: 900px;
	list-style-type: none;
	padding: 0px 0px 0px 5px;
	overflow: hidden;
	font-size: 14px;
}


*h4 {
	font-size: 14px;
text-decoration: none;
	background: #000;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;  
	color: white;
	padding: 0px 0px 0px 1px;
	margin-left: 155px;
	width: 900px;
}
	
/*p {
	width: 900px;
	margin-left: 155px; 
	list-style-type: none;
	padding-top: 0px;
	padding-left: 3px;
	padding-right: 0px;
	padding-bottom: 0px;
	overflow: hidden;
	background-color: silver;
	font-size: 100%;*/
}


	
#container {
	width: 900px;
	background-color: #FFF;
	margin-left: 155px; 
	padding: 0;
	
}


ul {
	width: 900px;
	margin-left: 155px;
	background: #262001;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
}
	
li {
	width: 180px;
	background: silver;
	float: left;
}

a {
	text-decoration: none;
	background: #262001;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;  
	color: #8c6a03;
	
}

a:hover {
	color: #262001;
	background: #8c6a03;
	
}
	

