body {
	max-width: 1000px;
	min-width: 780px;
	font: 100% 1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
	background-image: url(../images/l4d2_bg.jpg);
	background-color: black;
	background-position: top center;
	background-attachment: scroll;
	background-size: 100%;
	background-repeat: no-repeat;
	font-style: normal;

	
}

nav {
	margin: 0 0 0 0;
} 

#wrapper {

	width: 90%;
	margin: -1.0% 85% 0 15.0%;
	overflow: hidden;
	background-color: #8C6A03;
	border-color: #262522;
	border-right-style:solid;
	border-left-style:solid;
	
}
.header {
	width: 100%;
	overflow: hidden;
}

header img{
	width: 100%;
}

#content {
	width:100%;/*900px*/ 
	
}

#content p {
	color: white;
	list-style-type: none;
	padding: 001.111111111111%;
	font-size: 0.875em;
	
}


h2  {
	font-size: 1.25em; 
	text-decoration: none;
	background: #262001;
	display: block;
	text-align: center;  
	color: white;
	padding: 0.333333333333% 0 0 0;
	margin: -0.666666666667% 0 0 0;
	overflow: hidden;
}

#main_content{
	width: 100%;
	background-color: #8C6A03;
	margin: 0;
	
}


.container {
		width: 70%;/*630px*/ 
		background-color: #4A4A3D;
		overflow: hidden;
	
}

.container img {
		float: right;
		width: 30%;/*189*/ 
		margin: 0;
		padding: 0 4.761904761905% 0.5291005291005% 1.5873015873016%;
		
}

.container p {
	width: 100%;
	font-size: 14px;
	padding: 0 10px 0 20px;
	display: block;
	color: white;
}

.container h4 {
	background: #262001;
	padding: 3px 0 0 10px;
	margin: 0;
	color: white;
}

aside {
	float: right;
	width: 29%;/*261px*/ 
	border-color: #262522;
	border-right-style:solid;
	border-left-style:solid;
	overflow: hidden;
	background-color: black;
}

#asideimg1{
	width:100%;
}

#asideimg1{
	width:100%;
}



ul {
	width: 100%;
	margin: 0;
	background: #262001;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
}
	
li {
	width: 20%;
	background: silver;
	float: left;
}

a {
	text-decoration: none;
	background: #262001;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;  
	color: #8c6a03;
	
}

a:hover {
	color: #262001;
	background: #8c6a03;
	
}

#footer{
	width: 100%;
	margin: 0;
	padding: 0px;
	overflow: hidden;
}

h3 {
	padding: 0 0 10px 10px;
	margin: 0;
}

