body {
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	background-image: url(../images/l4d2_bg.jpg);
	background-color: black;
	background-position: top center;
	background-attachment: scroll;
	background-size: 100%;
	background-repeat: no-repeat;
	font-style: normal;
	clear: none;
	float: none;
	width: 900px;
}

nav {
	margin: 0 0 0 0;
} 

#wrapper {

	width: 100%;
	margin: -10px 0 0 150px;
	background-color: #8C6A03;
	border-color: #262522;
	border-right-style:solid;
	border-left-style:solid;
	overflow: hidden;
}

p {
	color: white;
	list-style-type: none;
	padding: 10px 0 0 10px;
	font-size: 14px;
	
}

h2  {
	font-size: 18px;
	text-decoration: none;
	background: #262001;
	display: block;
	height: 30px;
	text-align: center;  
	color: white;
	padding: 0 0 0 5px;
	width: 895px;
	margin: -6px 0 0 0;
	overflow: hidden;
}

#main_content{
	width: 100%;
	background-color: #8C6A03;
	margin: 0;
	
}


.container {
		width: 70%;
		background-color: #4A4A3D;
		overflow: hidden;
	
}

aside {
	float: right;
	width: 29%;
	border-color: #262522;
	border-right-style:solid;
	border-left-style:solid;
	overflow: hidden;
}



.container img {
		float: right;
		width: 30%;
		margin: 0;
		padding: 0 30px 10px 0;
		
}

.container p {
	width: 100%;
	font-size: 14px;
	padding: 0 10px 0 20px;
	display: block;
	color: white;
	

		
	
}

.container h4 {
	background: #262001;
	padding: 0 0 0 10px;
	margin: 0;
	color: white;
}





	
#content p {
	color: #594302;
	list-style-type: none;
	padding: 10px 0 0 10px;
	font-size: 14px;*/
	
}



header {
	width: 100%;
	margin: 0;
	list-style-type: none;
	padding: 0;
	overflow: hidden;

}


ul {
	width: 100%;
	margin: 0;
	background: #262001;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
}
	
li {
	width: 180px;
	background: silver;
	float: left;
}

a {
	text-decoration: none;
	background: #262001;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;  
	color: #8c6a03;
	
}

a:hover {
	color: #262001;
	background: #8c6a03;
	
}

#footer{
	width: 900px;
	margin: 0;
	padding: 0px;
}

h3 {
	padding: 0 0 10px 10px;
	margin: 0;
}

